---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import Python from "@/icons/python.astro"
import PyTorch from "@/icons/PyTorch.astro"
import Pennylane from "@/icons/Pennylane.astro"
import AstroICO from "@/icons/Astro.astro"
import Poster from "@/icons/Poster.astro"
import Articulo from "@/icons/Articulo.astro"
import Conferencia from "@/icons/Conference.astro"


const TAGS = {
    NATIONAL: {
      name: "游쀯릖 National",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    EUROPEAN: {
      name: "游쀯릖 European",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    INTERNATIONAL: {
      name: "游깴 International",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    POSTER: {
      name: "P칩ster",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Poster,
    },
    ARTICULO: {
      name: "Art칤culo",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Articulo,
    },
    CONGRESO: {
      name: "Congreso",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Conferencia,
    },
  }
const PROJECTS = [
  {
    title: "Application of Quantum Machine Learning for Detection of Adventitious Respiratory Sounds.",
    authors: "Plou Llorente, F.; Garc칤a-Vega, D.; Leal Casta침o, A.; Gonz치lez Mart칤nez, F.D.; Ca침adas-Quesada, F.J.; Ranilla, J.",
    publish: "1st International Workshop on Sound Signal Processing Applications. C치diz",
    date: "2/7/2024 - 8/7/2024",
    description:
      "",
    link: "",
    github: "",
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL, TAGS.POSTER], 
    metacognition:"",
    image:"contributions/Application_of_Quantum_Machine_Learning_for_Detection_of_Adventitious_Respiratory_Sounds.png"
  },
  {
    title: "Hierarchical QCNNs and parameter optimization through bioinspired algorithms.",
    authors: "Plou Llorente, F.; Garc칤a-Vega, D.; Leal Casta침o, A.; Salvador Navarro, A.A.; Combarro, E.F.; Cortina, R.",
    publish: "24th Computational and Mathematical Methods in Science and Engineering Conference. C치diz",
    date: "2/7/2024 - 8/7/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL, TAGS.POSTER],
    metacognition:"",
    image:"contributions/Hierarchical_QCNNs_and_Parameter_Optimization_using_Bioinspired_Algorithms.png"
  },
  {
    title: "LazyQML: A Python library to benchmark Quantum Machine Learning models.",
    authors: "Garc칤a-Vega, D.; Plou Llorente, F.; Leal Casta침o, A.; Combarro, E.F.; Ranilla, J.",
    publish: "30th International European Conference on Parallel and Distributed Computing (Euro-Par 2024). Madrid ",
    date: "30/8/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL,TAGS.EUROPEAN, TAGS.ARTICULO],
    metacognition:""
  },
  {
    title: "Avances en la clasificaci칩n de se침ales biom칠dicas con kernels cu치nticos y otras t칠cnicas de quantum machine learning.",
    authors: "Garc칤a-Vega, D.; Gonz치lez-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: " 8췈 Encuentro ALAMA: 츼lgebra Lineal, An치lisis Matricial y Aplicaciones. Gij칩n ",
    date: "12/6/2024 - 14/6/2024",
    description:
    "",
    
    tags: [TAGS.CONGRESO, TAGS.NATIONAL, TAGS.ARTICULO],
    metacognition:""
    },
     {
     title: "Performance Evaluation of Signal Representation Techniques for Respiratory Sounds using Quantum Machine Learning. ",
    authors: "Garc칤a-Vega, D.; Gonz치lez-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: "The 22nd IEEE Mediterranean Electrotechnical Conference . Porto ",
    date: "25/6/2024 - 27/6/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL ,TAGS.EUROPEAN, TAGS.ARTICULO],
    metacognition:""
  },
  {
    title: "Algunos experimentos en la detecci칩n de enfermedades respiratorias con procesamiento de se침ales sonoras y quantum machine learning.",
    authors: "Garc칤a-Vega, D.; Gonz치lez-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: "XXXIV Jornadas de Paralelismo. Coru침a",
    date: "17/6/2024 - 19/6/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.NATIONAL, TAGS.ARTICULO],
    metacognition:""
  },
]
---


<div class="flex flex-col gap-y-16">
    {PROJECTS.map(({ title, publish, authors, date, tags, metacognition, image }) => (
      <article class="flex flex-col space-y-8 group bg-white dark:bg-gray-900 p-6 rounded-lg shadow-md">
        <div class="w-full">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <h4 class="text-xl font-bold text-gray-700 dark:text-gray-200">{publish}</h4>
          <h5 class="text-l text-gray-500 dark:text-gray-400">{authors}</h5>
          <h6 class="text-base text-gray-400 dark:text-gray-500">{date}</h6>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span className={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}>{tag.name}</span>
                </li>
              ))}
            </ul>
          </div>
          
          {image && (
            <div class="mt-4 mb-2 overflow-hidden rounded-lg">
              <img 
                src={image} 
                alt={`Image for ${title}`} 
                class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
              />
            </div>
          )}
          
          {metacognition && (
            <div class="mt-4 p-4 bg-gray-100 dark:bg-gray-800 rounded-lg">
              <h3 class="text-xl font-semibold">Metacognici칩n</h3>
              <p class="text-gray-700 dark:text-gray-300">{metacognition}</p>
            </div>
          )}
        </div>
      </article>
    ))}
  </div>