---
import Poster from "@/icons/Poster.astro"
import Articulo from "@/icons/Articulo.astro"
// import Conferencia from "../icons/Conference.astro"
import Conferencia from "@/icons/Conference.astro"


const TAGS = {
    NATIONAL: {
      name: "🇪🇸 National",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    EUROPEAN: {
      name: "🇪🇺 European",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    INTERNATIONAL: {
      name: "🌍 International",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: "",
    },
    POSTER: {
      name: "Póster",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Poster,
    },
    ARTICULO: {
      name: "Artículo",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Articulo,
    },
    CONGRESO: {
      name: "Congreso",
      class: "bg-black text-white outline outline-1 outline-[#7f7f7f]",
      icon: Conferencia,
    },
  }
const PROJECTS = [
  {
    title: "LazyQML: A Python library to benchmark Quantum Machine Learning models.",
    authors: "García-Vega, D.; Plou Llorente, F.; Leal Castaño, A.; Combarro, E.F.; Ranilla, J.",
    publish: "30th International European Conference on Parallel and Distributed Computing (Euro-Par 2024). Madrid ",
    date: "30/8/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL,TAGS.EUROPEAN, TAGS.ARTICULO],
    metacognition:"Desarrollar LazyQML ha sido una experiencia emocionante, combinando el mundo de la computación cuántica con el desarrollo de software de calidad. Esta librería nació con el objetivo de facilitar la evaluación de modelos de Quantum Machine Learning (QML), haciendo que los investigadores y desarrolladores puedan comparar su rendimiento de manera rápida y sencilla. Durante el proceso, aprendí a lanzar un paquete en PyPI, gestionar su mantenimiento y automatizar pruebas con GitHub Actions. También puse en práctica el uso de GitHub Pages para crear una documentación clara y accesible. Diseñé la librería con un enfoque modular y orientado a objetos, asegurando que fuera eficiente para entornos de Quantum High-Performance Computing (QHPC), sin perder de vista la facilidad de uso. El resultado es una herramienta optimizada, fácil de integrar y lista para ayudar a la comunidad QML a avanzar más rápido. 📔💻",
    image:"projects/lazyQML.jpg"
  },
  {
    title: "Application of Quantum Machine Learning for Detection of Adventitious Respiratory Sounds.",
    authors: "Plou Llorente, F.; García-Vega, D.; Leal Castaño, A.; González Martínez, F.D.; Cañadas-Quesada, F.J.; Ranilla, J.",
    publish: "1st International Workshop on Sound Signal Processing Applications. Cádiz",
    date: "02/07/2024 - 08/07/2024",
    description:
      "",
    link: "",
    github: "",
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL, TAGS.POSTER], 
    metacognition:"Durante la realización de este póster, se reforzaron conocimientos clave en Quantum Machine Learning (QML) aplicados a señales biomédicas, combinando teoría con experimentación en High-Performance Computing (HPC) para optimizar pruebas y garantizar trazabilidad. También se profundizó en teoría de la señal y en las particularidades del análisis de audios pulmonares en el sector clínico. Más allá de lo técnico, este trabajo ayudó a transformar estudios complejos en un diseño visual más claro y atractivo, mejorando la forma de plasmar desarrollos en investigación de manera gráfica y efectiva. 🚀✨",
    image:"contributions/Application_of_Quantum_Machine_Learning_for_Detection_of_Adventitious_Respiratory_Sounds.png"
  },
  {
    title: "Hierarchical QCNNs and parameter optimization through bioinspired algorithms.",
    authors: "Plou Llorente, F.; García-Vega, D.; Leal Castaño, A.; Salvador Navarro, A.A.; Combarro, E.F.; Cortina, R.",
    publish: "24th Computational and Mathematical Methods in Science and Engineering Conference. Cádiz",
    date: "02/07/2024 - 08/07/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL, TAGS.POSTER],
    metacognition:"",
    image:"contributions/Hierarchical_QCNNs_and_Parameter_Optimization_using_Bioinspired_Algorithms.png",
    metacognition: "Este trabajo permitió una primera aproximación personal a las Quantum Convolutional Neural Networks (QCNNs) jerárquicas, explorando su arquitectura y comportamiento. Además, se investigaron métodos bioinspirados para la optimización de parámetros, descubriendo su potencial para mejorar el rendimiento de modelos cuánticos. La experimentación fue clave, no solo para comprender estas técnicas, sino también para desarrollar estrategias eficientes de prueba y ajuste en entornos de alto cómputo. Finalmente, la síntesis visual de estos conceptos complejos ayudó a mejorar la forma de comunicar hallazgos de manera clara y atractiva. ⚙️🦠"
  },
  {
    title: "Exploring Hybrid Quantum-Classical Machine Learning for Respiratory Sound Analysis",
    authors: "García-Vega, D.; González-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: "The 22nd IEEE Mediterranean Electrotechnical Conference . Porto ",
    date: "25/06/2024 - 27/06/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.INTERNATIONAL ,TAGS.EUROPEAN, TAGS.ARTICULO],
    metacognition:"Desarrollar el artículo y la ponencia sobre Exploring Hybrid Quantum-Classical Machine Learning for Respiratory Sound Analysis fue una experiencia muy enriquecedora. 🌟 Al ser mi primer congreso internacional en Oporto 🇵🇹 y presentar en inglés por primera vez, me enfrenté a nuevos retos que me ayudaron a crecer. La investigación me permitió explorar técnicas innovadoras 🧠, mientras que la ponencia me enseñó a comunicar mis ideas de manera clara y efectiva. ✨ Este congreso no solo me dio la oportunidad de compartir mi trabajo, sino también de aprender de otros investigadores 🌍, ampliando mi perspectiva y reafirmando la importancia del aprendizaje continuo y la colaboración internacional. 🤝",
    image:"contributions/melecon.png"
  },
  {
    title: "Algunos experimentos en la detección de enfermedades respiratorias con procesamiento de señales sonoras y quantum machine learning.",
    authors: "García-Vega, D.; González-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: "XXXIV Jornadas de Paralelismo. Coruña",
    date: "17/06/2024 - 19/06/2024",
    description:
      "",
    
    tags: [TAGS.CONGRESO, TAGS.NATIONAL, TAGS.ARTICULO],
    metacognition:"Durante mi presentación en el congreso SARTECO 2024 en A Coruña, en el workshop de Computación Cuántica, tuve la oportunidad de sumergirme en un ambiente académico de alto nivel, rodeado de expertos en el campo. 🎓 Las preguntas y comentarios de los asistentes fueron muy valiosos, ya que me ayudaron a reflexionar sobre mi trabajo y a abordar aspectos que quizás no había considerado. 💡 Resolver las dudas de manera efectiva me permitió no solo reforzar mis conocimientos, sino también afinar mis habilidades para comunicar conceptos complejos de manera clara. Esta experiencia fue muy enriquecedora, pues pude aprender de profesionales con amplia experiencia y, al mismo tiempo, contribuir al debate sobre los avances en computación cuántica. 🚀 Sin duda, el intercambio de ideas en este tipo de entornos es esencial para seguir creciendo en este campo tan fascinante. 🌍",
    image:"contributions/sarteco.png"
  },
  {
    title: "Avances en la clasificación de señales biomédicas con kernels cuánticos y otras técnicas de quantum machine learning.",
    authors: "García-Vega, D.; González-Castillo, S.; Combarro, E.F.; Ranilla, J.",
    publish: " 8º Encuentro ALAMA: Álgebra Lineal, Análisis Matricial y Aplicaciones. Gijón ",
    date: "12/06/2024 - 14/06/2024",
    description: "",
    tags: [TAGS.CONGRESO, TAGS.NATIONAL, TAGS.ARTICULO],
    metacognition: "Este artículo de congreso marcó un hito significativo en mi carrera, ya que representó mi primera ponencia en el fascinante mundo de la computación cuántica y el aprendizaje automático cuántico (Quantum Machine Learning). Al venir del ámbito de la informática clásica, fue un salto cuántico tanto en el enfoque como en el contenido, un desafío que me permitió explorar nuevas fronteras del conocimiento. Durante este evento, no solo aprendí conceptos fundamentales de la teoría cuántica y sus aplicaciones en el campo de la inteligencia artificial, sino que también adquirí habilidades de transmisión de conocimiento y ponencia en público. Este congreso me permitió sumergirme en la interacción entre la teoría y la práctica cuántica, ampliando mi perspectiva sobre el futuro de la computación.",
    image:"contributions/alama.png"
}

]
---


<div class="flex flex-col gap-y-16">
    {PROJECTS.map(({ title, publish, authors, date, tags, metacognition, image }) => (
      <article class="flex flex-col space-y-8 group bg-white dark:bg-gray-900 p-6 rounded-lg shadow-md">
        <div class="w-full">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">{title}</h3>
          <h4 class="text-xl font-bold text-gray-700 dark:text-gray-200">{publish}</h4>
          <h5 class="text-l text-gray-500 dark:text-gray-400">{authors}</h5>
          <h6 class="text-base text-gray-400 dark:text-gray-500">{date}</h6>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
                {tags.map((tag) => (
                <li>
                    <span
                        className={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 ${!tag.icon ? "pl-2" : ""}`}>
                        {tag.icon && <tag.icon className="size-4" />}
                        {tag.name}
                    </span>
                </li>
                ))}
            </ul>
          </div>
          
          {image && (
            <div class="mt-4 mb-2 overflow-hidden rounded-lg">
              <img 
                src={`${import.meta.env.BASE_URL}/${image}`} 
                alt={`Image for ${title}`} 
                class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-105"
              />
            </div>
          )}
          
          {metacognition && (
            <div class="mt-4 p-4 bg-gray-100 dark:bg-gray-800 rounded-lg">
              <h3 class="text-xl font-semibold">Reflexión de Aprendizaje 💡</h3>
              <p class="text-gray-700 dark:text-gray-300">{metacognition}</p>
            </div>
          )} 
          
        </div>
      </article>
    ))}
  </div>